.ProfileImage{
    border-radius: 50%;
    background-color: var(--second-color);
    .ProfileImageImg{

        width: 80%;
        height: 80%;
        margin: 10%;
        border-radius: 50%;
    }
}