.ButtonCustom{
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: var(--first-round);
    background-color: var(--buttons-background);
    border: none;
    font-family: 'aqum-2';
    color: var(--buttons-color);
    vertical-align: bottom;
}

.Button{
    width: min-content;
    height: min-content;
}