.IconButton{
    display: inline-block;
    width: 3em;
    height: 3em;
    border-radius: var(--first-round);
    background-color: var(--header-buttons-background);
    border: none;
    font-family: 'aqum-2';
    color: var(--header-buttons-color);
    vertical-align: bottom;
    .ButtonIconImage{
        width: 100%;
        vertical-align: middle;
    }
}