.IconButton{
    display: inline-table;
    width: 3em;
    height: 3em;
    border-radius: 12px;
    background-color: var(--header-buttons-background);
    border: none;
    font-family: 'aqum-2';
    color: var(--header-buttons-color);
    margin-left: 1em;
    vertical-align: bottom;
    .ButtonIconImage{
        filter: var(--header-eye-filter);
        width: 100%;
    }
}