.Header{
    background-color: var(--header-color);
    height: 5em;
    width: 100%;
    font-family: 'aqum-2';
    display: grid;
    vertical-align: middle;
    text-align: center;
    border-bottom: 0.25em solid var(--header-line-color);
}

.logo{
    grid-row: 1;
    margin-top: auto;
    margin-bottom: 0.25em;
    display: inline-block;
    width: max-content;
}

.logoIcon{
    display: inline-Block;
    height: 4em;
    filter: var(--header-icon-filter);
}

.title{
    display: inline-Block;
    text-align: left;
    color: var(--title-color);
    margin-top: auto;
    margin-bottom: 0.1em;
}

.title a{
    display: block;
    margin: 0;
    line-height: 1em;
}

.buttonBlock{
    grid-row: 1;
    display: block;
    margin-left: auto;
    margin-right: 0.5em;
    margin-top: auto;
    margin-bottom: auto;
}

.buttonBlock button{
    display: inline-table;
    width: 3em;
    height: 3em;
    border-radius: 12px;
    background-color: var(--header-buttons-background);
    border: none;
    font-family: 'aqum-2';
    color: var(--header-buttons-color);
    margin-left: 1em;
    vertical-align: bottom;
}

button *{
    display: block;
    width: 100%;
    height: 100%;
}

.eyeIcon{
    filter: var(--header-eye-filter);
}